body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
}

.fieldset {
    background: rgba(255, 255, 255, 0.897);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.212);
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding-right: 40px;
    text-align: center;
    width: 25em;
}

ul li {
    list-style: none;
    text-align: center;
}

.campos {
    margin-top: 2em;
}

.input input {
    margin-bottom: 1em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: rgb(206, 206, 206);
    border-radius: 10px;
    font-size: 17px;
    color: grey;
    width: 14em;
}

.input label {
    margin-right: 9.5em;
    font-size: 20px;
}

.log-cad button {
    border-radius: 10px;
    width: 7em;

    position: relative;
    left: 23px;
}

.box li {
    position: relative;
    right: 15px;
    color: grey;
}

.box li a {
    color: grey;
}

.conect li {
    color: grey;
    position: relative;
    right: 44px;
}

#log {
    width: 10em;
    height: 3em;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 20px;
}


.goo-fac {
    margin-bottom: 1.5em;

}

.goo-fac img {
    margin-top: 7px;
    border-radius: 40px;
    width: 30px;
}


.goo-fac button {
    font-size: 15px;
    margin-top: 10px;
    width: 14em;
    height: 4em;
    border-radius: 30px;
    border: 0;
    color: rgb(99, 99, 99);
    background: white;
}


p {
    margin-top: -5px;
}

button {
    cursor: pointer;

}

h6 {
    color: grey;
    position: relative;
    left: 20px;
    margin-top: -2px;
    margin-bottom: -15px;
}

h1 {
    position: relative;
    left: 20px;
    font-size: 50px;
}

button :active {
    opacity: 0.6;
}